<div class="container">

    <h1>HQ</h1>
    {{#each location.troops}}
    {{type}} - {{locationsTroops.amount}}
    {{/each}}
    <br>
    {{#each location.resources}}
        {{type}} - {{locationsResources.amount}}
    {{/each}}
    <h2>Purchase Troops</h2>
    {{#if purchaseError}}
        <p class="text-danger">{{purchaseError}}</p>
    {{/if}}
    <form method="POST" action="/headquarters/location/{{location.id}}">
        {{{troopForm}}}
        <br>
        <button class="btn btn-primary btn-block" type="submit">Create Account</button>
    </form>
</div>
